<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="everis" translate="label" sortOrder="10">
            <label>Everis</label>
        </tab>
        <section id="everis" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Address Configuration</label>
            <tab>everis</tab>
            <resource>Everis_Direccion::settings</resource>
            <group id="address" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Address global settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <comment>Enable or disable all module</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
